body{
  padding: 40px;
}
.buttons{
  display: flex;
  gap: 5px;
  width: 300px;
  flex-wrap: wrap;
}
.letters{
  display: flex;
  margin-bottom: 10px;
}
.letters span{
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 20px;
  font-size: 1.4em;
}
.hidden{
  display: none;
}